body {
  background-color: #282c34;
}

.App {
  text-align: center;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  background-color: white;
}

header {
  background: url("https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_retina/public/programming%20evolution.jpg?itok=WTj9-yNz");
  margin-bottom: 20px;
}
header h1 {
  border-top: #282c34 4px solid;
  font-size: 50px;
  padding: 30px 0 30px;
  margin-bottom: 0;
  color: white;
}
header .navbar {
  margin-bottom: 20px;
  border-bottom: #282c34 4px solid;
  padding: 5px 0 5px;
  text-align: start;
}
header .navbar__links {
  padding: 0 10px 0 10px;
  text-decoration: none;
  transition: 0.5s all;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}
header .navbar__links:hover {
  background-color: coral;
}

.create-edit {
  min-height: 82vh;
}
.create-edit__title {
  padding: 20px 0 20px 0;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.create-edit .selected-course {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.create-edit .selected-course .avatar {
  width: 40%;
  padding-left: 10px;
}
.create-edit .selected-course .avatar img {
  width: 100%;
}
.create-edit .selected-course .text-block {
  padding-left: 20px;
  width: 60%;
}
.create-edit .selected-course .text-block .text-item {
  text-align: start;
  margin-bottom: 30px;
  font-size: 18px;
}
.create-edit .selected-course .text-block .text-item-title {
  display: inline-block;
  font-weight: 800;
  padding-right: 5px;
}
.create-edit .selected-course .text-block .text-item-description {
  display: inline-block;
}
.create-edit .buttons-wrapper {
  margin-top: 50px;
  padding-bottom: 30px;
}
.create-edit .buttons-wrapper button {
  padding: 6px 10px 6px;
  background-color: lightskyblue;
  transition: 0.5s all;
  font-size: 16px;
  margin: 0 15px 0 15px;
}
.create-edit .buttons-wrapper button:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  transform: scale(1.05);
  color: white;
}

.create-edit-form {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 20px;
}
.create-edit-form .input-wrapper {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.create-edit-form .input-wrapper input {
  border: lightgrey 2px solid;
  width: 100%;
  padding: 3px 10px 3px;
  border-radius: 3px;
  height: 20px;
}
.create-edit-form .input-wrapper textarea {
  border-radius: 3px;
  border: lightgrey 2px solid;
  width: 102%;
}
.create-edit-form .input-wrapper label {
  margin-bottom: 4px;
  font-size: 13px;
}
.create-edit-form button {
  padding: 6px 10px 6px;
  background-color: lightskyblue;
  transition: 0.5s all;
  font-size: 16px;
}
.create-edit-form button:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  transform: scale(1.05);
  color: white;
}

.home {
  padding-bottom: 100px;
  min-height: 78vh;
  position: relative;
}
.home .sort {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 20px 40px 20px;
}
.home .sort .select {
  margin-left: 20px;
}
.home .sort .select label {
  padding-right: 10px;
}
.home .sort .select select {
  padding: 5px;
}
.home .sort button {
  padding: 5px;
  background-color: lightskyblue;
  transition: 0.5s all;
  margin-left: 10px;
  border-radius: 3px;
}
.home .sort button:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  transform: scale(1.05);
  color: white;
}
.home .pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.home .pagination button {
  padding: 4px 9px;
  background-color: lightskyblue;
  transition: 0.5s all;
  border-radius: 3px;
}
.home .pagination button:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  color: white;
}
.home .pagination button.current-page {
  transform: scale(1.2);
}
.home .pagination .last-page {
  margin-right: 54px;
  position: relative;
}
.home .pagination .last-page:before {
  content: "........";
  font-size: 20px;
  position: absolute;
  right: -5px;
  transform: translate(100%, -30%);
}

.course {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.course__avatar {
  position: relative;
  width: 35%;
  height: 400px;
  margin-left: 20px;
}
.course__avatar img {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.course__avatar:nth-child(6) img {
  width: 100%;
}
.course__text-block {
  margin-left: 20px;
  width: 50%;
  font-size: 14px;
}
.course__text-block .text-item {
  vertical-align: top;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.course__text-block .text-item:first-child {
  align-items: end;
}
.course__text-block .text-item-title {
  width: 20%;
  text-align: right;
  font-weight: 700;
}
.course__text-block .text-item-description {
  padding-left: 10px;
  width: 80%;
  text-align: left;
}
.course__text-block .text-item-description span {
  font-size: 20px;
  font-weight: 700;
}

/*# sourceMappingURL=App.css.map */
